/* Faz o body ocupar toda a altura da janela e usar flexbox */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




main {
  padding: 20px;
}




/* footer fixado na base */
footer.rodape {
  background-color:  #2e7d32; /* exemplo de fundo */
  color: white;
  padding: 20px;
  text-align: center;
}